#bd1{
    border-style: solid;
    border-color: #0900aa;
    height : 60%;
    width : 60%;
    padding : 1px 100px 1px 270px;
    margin : 10px 130px 10px 30px;
}
#bd2{
    border-style: dashed;
    border-color: aqua;
    height : 60%;
    width: 60%;
    padding-left: 50px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    padding-right: 50px;
    margin : 10px 30px 10px ;
}
#outside{
    border-style: dotted;
    border-color: aqua;
    height : 70%;
    width: 70%;
}
#box1{
    border-style: solid;
    border-color: brown;
    width: 170px;
    height: 170px;
}
#box2{
    border-style: dotted;
    border-color: aqua;
    width: 90%;
    height: 90%;
}
#box3{
    border-style: dashed;
    border-color: black;
    width: 90%;
    height: 90%;

}
#box4{
    border-style: dashed;
    border-color: grey;
    width: 90%;
    height: 90%;
}